@using Trail4Healthtest.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    @if (this.User.IsInRole("Turista"))
    {
        <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Perfil do turista</a></li>
    }
    @if (this.User.IsInRole("Administrador"))
    {
        <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Perfil do Administrador</a></li>
    }
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Mudar password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">External logins</a></li>
    }
    <!-- <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li> -->
</ul>

