@model IEnumerable<Trail4Healthtest.Models.Newsletter>

@{
    ViewData["Title"] = "Index";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Newsletter</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <h2 class="page-title">Consultar newsletter</h2>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <button class="btn btn-default"><a asp-action="Create">Nova newsletter</a></button>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Descricao
                                </th>
                                <th>
                                    Foto
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.data)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.foto)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.newletterId">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.newletterId">Ver mais detalhes</a> |
                                        <a asp-action="Delete" asp-route-id="@item.newletterId">Apagar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
