@model Trail4Healthtest.Models.Trilho

@{
    ViewData["Title"] = "Details";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Detalhes do trilho</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>
                            Nome do trilho
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nometrilho)
                        </dd>
                        <dt>
                            Distância a percorrer
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Distanciaapercorrer)
                        </dd>
                        <dt>
                            Duração Média
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Duracaomedia)
                        </dd>
                        <dt>
                            Local de fim
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Locfim)
                        </dd>
                        <dt>
                            Local de Início
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Locinicio)
                        </dd>
                        <dt>
                            Ativo?
                        </dt>
                        <dd>
                            @if (@Html.DisplayTextFor(model => model.Ativo) == "True")
                            {
                                <text>Sim</text>

                            }
                            else if (@Html.DisplayTextFor(model => model.Ativo) == "False")
                            {
                                <text>Não</text>
                            }
                        </dd>
                        <dt>
                            Newsletter Ativa?
                        </dt>
                        <dd>
                            @if (@Html.DisplayTextFor(model => model.NewsletterAtiva) == "True")
                            {
                                <text>Sim</text>

                            }
                            else if (@Html.DisplayTextFor(model => model.NewsletterAtiva) == "False")
                            {
                                <text>Não</text>
                            }
                        </dd>
                        <dt>
                            Inclinação
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CoddesnivelNavigation.Nomedesnivel)
                        </dd>
                        <dt>
                            Dificuldade
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CoddificuldadeNavigation.Nomedificuldade)
                        </dd>
                        <dt>
                            Melhor época
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CodepocaaconselhdaNavigation.Nomeepoca)
                        </dd>
                    </dl>
                </div>
                <div class="form-group">
                   @if (User.IsInRole("Administrador"))
                   {
                    <button class="btn btn-toolbar"><a asp-action="Edit" asp-route-id="@Model.TrilhoId">Editar</a></button> }<button class="btn btn-info"><a asp-action="Index">Voltar à lista</a></button>
                </div>
            </div>
        </section>
    </div>
</div>
