@model IEnumerable<Trail4Healthtest.Models.Newsletter>

@{
    ViewData["Title"] = "Index";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Consultar Newsletter</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
@if (User.IsInRole("Administrador"))
{
                    <button class="btn btn-info">
                        <a asp-action="Create">Criar nova newsletter</a>
                    </button>}
                    <br />
                    <br />
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Nome do Trilho
                                </th>
                                <th>
                                    Data
                                </th>
                                <th>
                                   Descrição
                                </th>
                                <th>
                                   Foto
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trilho.Nometrilho)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Foto)
                                </td>

                                <td>
@if (User.IsInRole("Administrador"))
{
                                    <button class="btn btn-toolbar">
                                        <a asp-action="Edit" asp-route-id="@item.NewletterId">Editar</a>
                                    </button> 
                                    <button class="btn btn-danger">
                                        <a asp-action="Delete" asp-route-id="@item.NewletterId">Apagar</a>
                                    </button>}
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
