@model IEnumerable<Trail4Healthtest.Models.Turista>

@{
    ViewData["Title"] = "Index";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Turistas</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                   Contato de Emergência
                                </th>
                                <th>
                                   Email
                                </th>
                                <th>
                                    NIF
                                </th>

                                <th>
                                   Nº de Telefone
                                </th>
                                <th>
                                    Estado da conta. Desativa?
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contatoemergencia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nif)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.NumeroTelefone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EstadoTurista)
                                </td>
                                <td>
                                    <button class="btn btn-toolbar">
                                        <a asp-action="Edit" asp-route-id="@item.TuristaId">Editar</a>
                                    </button> |
                                    <button class="btn btn-default">
                                        <a asp-action="Details" asp-route-id="@item.TuristaId">Detalhes</a>
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
