@model Trail4Healthtest.Models.Comentarios

@{
    ViewData["Title"] = "Details";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Detalhes do Comentário</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>
                            Comentário
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Comentar)
                        </dd>
                        <dt>
                            Duração do Trilho
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.DuracaoTrilho)
                        </dd>
                        <dt>
                            Avaliação
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Avaliacao.Classificacao)
                        </dd>
                        <dt>
                            Trilho
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Trilho.Nometrilho)
                        </dd>
                        <dt>
                            Nome do Turista
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Turista.Nome)
                        </dd>
                    </dl>

                    <div class="form-group">
                    
                        <button class="btn btn-toolbar"><a asp-action="Edit" asp-route-id="@Model.ComentarioId">Editar</a></button> 
                        <button class="btn btn-info"><a asp-action="Index">Voltar à lista</a></button>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

