@model IEnumerable<Trail4Healthtest.Models.Comentarios>

@{
    ViewData["Title"] = "Index";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Consultar comentários</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <h2 class="page-title">Consultar comentários</h2>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        <button class="btn btn-default"><a asp-action="Create">Novo comentário sobre o trilho</a></button>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Id do Trilho
                                </th>
                                <th>
                                    Duração do Trilho
                                </th>
                                <th>
                                    Avaliação do Trilho
                                </th>
                                <th>
                                    Comentário
                                </th>
                                <th>
                                    Turista que completou o Trilho
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.trilhoId) 
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.duracaoTrilho)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.avaliacao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.comentar)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.turista.turistaId)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.comentarioId">Editar</a> |
                                        <a asp-action="Details" asp-route-id="@item.comentarioId">Ver mais detalhes</a> |
                                        <a asp-action="Delete" asp-route-id="@item.comentarioId">Apagar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        </div>
</div>

