@model IEnumerable<Trail4Healthtest.Models.Comentarios>

@{
    ViewData["Title"] = "Index";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Todos os Comentários</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-info">
                        <a asp-action="Create">Criar Novo Estado</a>
                    </button>
                    <br />
                    <br />
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Comentários
                                </th>
                                <th>
                                    Duração do Trilho
                                </th>
                                <th>
                                    Avaliação
                                </th>
                                <th>
                                    Trilho
                                </th>
                                <th>
                                    Turista
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comentar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DuracaoTrilho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Avaliacao.AvaliacaoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trilho.Nometrilho)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turista.Nome)
                    </td>
                    <td>
                        <button class="btn btn-toolbar">
                       
                            <a asp-action="Edit" asp-route-id="@item.ComentarioId">Editar</a>
                        </button>
                        <button class="btn btn-default">
                            <a asp-action="Details" asp-route-id="@item.ComentarioId">Detalhes</a>
                        </button> 

                        <button class="btn btn-danger">
                            <a asp-action="Delete" asp-route-id="@item.ComentarioId">Apagar</a>
                        </button>
                    </td>
                </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

